# CMake files
build/

# Character mod pan codegen (source tree)
mods/characters/*/proto/generated/
# For local-only files, drafts, experiments, random files, etc
local/

.cache/

#metadirs
.vscode
.DS_Store
*.log
